@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --animate-slide-up: slideUp 0.3s ease-out;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
